@charset "utf-8";

* {
    font-family: "Times New Roman", Times, serif;
}
 
/* Body and Images */

html {
    color: white;
    background-color: pink;
}

img {
    margin: 0rem 2rem; 
	max-width: 100%; and height: auto; 
    border: solid 2px black;

}


/* Table Styles */

th {
    text-align: left;
}

table {
    width: 675px;
}

table, th, td {
    font-weight: normal;
    background-color: magenta;
    color: black;
    border: solid 1px black;
    border-collapse: collapse;
}

th {
    padding: 10px
}



/* Text Adjustments */

th:first-of-type {
    font-weight: normal; 
    text-align: left;
}


.center {
    padding: 10px 0px;
    text-align: center;
}

.listPad {
    padding-left: 10px;
}

caption {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}